<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Great White Shark</key>
	<dict>
		<key>Great White Shark1</key>
		<string>Long Shark</string>
		<key>Great White Shark2</key>
		<string>Short Shark</string>
		<key>Great White Shark3</key>
		<string>Big Shark</string>
	</dict>
	<key>Common Cuttlefish</key>
	<dict>
		<key>Cuttlefish3</key>
		<string>Long Cuttlefish</string>
		<key>Cuttlefish2</key>
		<string>Short Cuttlefish</string>
		<key>Cuttlefish1</key>
		<string>Big Cuttlefish</string>
	</dict>
</dict>
</plist>
